################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PowerPoint/VSTO PPT AddIn Clean SlideMaster/.vs/VSTO PPT AddIn Clean SlideMaster.slnx
